Source: libio-socket-ip-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: gregor herrmann <gregoa@debian.org>,
           Xavier Guimard <yadd@debian.org>,
           Dominique Dumont <dod@debian.org>,
           Dominic Hargreaves <dom@earth.li>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13),
               libmodule-build-perl
Build-Depends-Indep: libio-socket-inet6-perl <!nocheck>,
                     libtest-pod-perl <!nocheck>,
                     netbase <!nocheck>,
                     perl
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libio-socket-ip-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libio-socket-ip-perl.git
Homepage: https://metacpan.org/release/IO-Socket-IP
Rules-Requires-Root: no

Package: libio-socket-ip-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         netbase
Description: module for using IPv4 and IPv6 sockets in a protocol-independent way
 IO::Socket::IP provides a protocol-independent way to use IPv4 and IPv6
 sockets. It allows new connections to be made by specifying the hostname and
 service name or port number. It allows for connections to be accepted by
 sockets listening on local ports, by service name or port number.
 .
 It uses Socket::GetAddrInfo's getaddrinfo function to convert
 hostname/service name pairs into sets of possible addresses to connect to.
 This allows it to work for IPv6 where the system supports it, while still
 falling back to IPv4-only on systems which don't.
 .
 It provides an API which, for most typical cases, should be a drop-in
 replacement for IO::Socket::INET; most constructor arguments and methods are
 provided in a compatible way.
